.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    box-sizing: border-box;
  }
  .input-container {
    position: relative;
    width: 100%;
  }
  .input-field:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
  .icon {
    position:absolute ;
    top: 50% ;
    right: 12px; /* Adjust this for icon's horizontal position */
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc; /* You can change this to match your design */
  }
  
  .icon:hover {
    color: #007bff; /* Highlight the icon on hover */
  }
 
  
  
  